<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 自动扫描com.it包并且将带有注解的类注册为bean -->
	<context:component-scan base-package="com.it">
		<!-- 放过注解为@controller的控制器 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 读取properties文件 -->
	<context:property-placeholder location="classpath:config.properties" />











	<!-- 配置数据池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/db_medical" />
		<property name="username" value="root" />
		<property name="password" value="start" />
	</bean>

	<!-- 需要用到事务，注册一个事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 基于事务的注解驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 管理mybatis的中央映射器 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 为mapper.xml里面的类起别名 -->
		<property name="typeAliasesPackage" value="com.it.pojo" />
		<!-- 配置映射文件路径 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	<!-- 添加自动扫描mybatis的mapper.xml文件并且添加映射关系 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.it.mapper" />
	</bean>
</beans>
